* {
  font-family: 'Kalam', cursive;  
}

.full-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.title {
  font-size: 60px;
  margin-top: 20px;
}

.subtitle {
  margin-top: -40px;
  height: 50px;
  font-size: 30px;
  font-weight: 100;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  background-color: #faf0e6;  
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  font-size: 40px;
  background: linear-gradient(#eeaeca, #94bbe9);
}

.track-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  line-height: 2px;
}

.classic-gameboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.classic-gameboard:hover, .harder-pieces-gameboard:hover {
  cursor: pointer;
}

.classic-gameboard {
  display: flex;
  justify-content: center;
  border: 0;
  background-color: transparent;
}

.game-piece {
  width: 200px;
  height: 200px;
  margin: 40px;
}

.harder-pieces-gameboard {
  border: 0;
  background-color: transparent;
}

.classic-and-hard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 560px;
  margin-top: -10px;
}

.difficult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 290px;
  width: 440px;
  background-color: #89cff0;
  margin-top: 30px;
  font-size: 25px;
}

.classic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 440px;
  background-color: #89cff0;
  font-size: 25px; 
}

.inner-square-text {
  margin: 0px;  
}

.classic-button, .hard-button {
  font-size: 25px;
  background-color: purple;
  color: white;
  border-radius: 20px;
  width: 140px;  
  border: 0; 
}

.change-game-button {
  background-color: purple;
  color: white;
  font-size: 25px;
  width: 200px;
  border: 0;
  border-radius: 20px;
  margin-top: 0px;
  cursor: pointer;  
}

.classic-button:hover, .hard-button:hover, .change-game-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.below-button {
  margin-top: -20px;
}

.edge-of-square {
margin-bottom: 15px;
}

.hidden {
  display: none;
}

